@import "tailwindcss";

/*
@tailwind base;
@tailwind components;
*/

:root {
  --customblue: rgb(214, 234, 254);
}

.text-customblue {
  color: var(--customblue);
}

.bg-customblue {
  background-color: var(--customblue);
}

.border-customblue {
  border-color: var(--customblue);
}
